* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    box-sizing: border-box;
}

.input-group-text {
    background-color: #2A2C2E;
    color: #FFF;
    border:none;
}

form {
    width: 60%;
}
form > div
 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
div > button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form > fieldset > div > label {
    width: 20ch;
}

.checkbox-enlarged{
    transform: scale(2);
    
}


.class-input {
    border-radius: 16px;
    padding: 10px 30px;
    width: 100%;
}

.available-parent{
    display: flex;flex-direction: row;flex-wrap: wrap;
    padding: 20px 0px;
    
}
.container-book-until-saveyourbook{
    display: flex;flex-direction: column;flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #2A2C2E;
    color: white;
    border-radius: 20px;
    margin: 20px;
}

  /* Media query for lower screen widths */
  
  @media (max-width: 768px) {
    #navigation-bar-bawah-id{
        display: flex;flex-direction: column;

    }
    #details-bar-bawah-id{
        display: flex;flex-direction: column;
    }

    #icon-3-login-nowrap {
        display:flex;flex-wrap:nowrap;
    }

    #navigation-bar-column {
        display: flex;flex-direction: column;
        gap: 50px;
        /* padding left and right punca hilang
        background putih bila screen kecik */
        padding-left: 200px;
        padding-right: 200px;

    }
    #background-color-white-id{
        background-color: white;padding:0px;
        display: flex;flex-direction:row; flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    #navigation-bar-3-id{
        padding: 0;
    }

    #container-card-id{
        padding:20px 80px;
    }
    }
    @media (max-width: 1200px) {
        #navigation-bar-column {
            display: flex;flex-direction: column;
            gap: 50px;
            /* padding left and right punca hilang
            background putih bila screen kecik */
            padding-left: 200px;
            padding-right: 200px;
        }
        #navigation-bar-3-id{
            padding: 0;
        }
        #container-card-id{
                padding:20px 50px;
            }
    }
    @media (max-width: 1440px) {
        #navigation-bar-3-id{
            padding: 0px;
        }
    }


.background-color-white{
    background-color: white;padding-bottom: 20px;padding-top:20px;
    display: flex;flex-direction:row; flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.navigation-bar-3{
    padding: 20px 200px;
}







.navigation-padding{
    padding: 20px 320px;
}
.navigation-bar{
    background-color: #2A2C2E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 20px 24px;
    border-radius: 20px;
    gap: 50px;

    flex: 1 1 0; /* Takes 1/3 of the row minus the gap */
   
}

.navigation-bar-bawah{
    background-color: #2A2C2E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px 24px;
    gap: 50px;
}

.logo-big-bookshelf{
    display: flex;flex-direction: row;
    align-items: center;justify-content: center;
    gap: 10px;
}

.parent-nav{
    display: flex;flex-direction: row;flex-wrap: wrap;
    align-items: center;justify-content: center;
    
    gap: 32px;
    font-family: "Inter", sans-serif;
    font-size:16px;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);

}

.icon-3-login {
    display: flex;flex-direction: row;flex-wrap: wrap;
    align-items: center;justify-content: center;

    gap: 40px;
    font-family: "Inter", monospace;
    font-size:16px;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(0, 0, 0, 0.6);
}

.all-books{
    background-color: #F4CE47; 

    display: flex;flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap:24px;
    padding: 12px;
    
    flex-grow: 400px;
    flex-shrink: 400px;

}
.container-card{
    background-color: #2A2C2E;
    
    display: flex;flex-direction:row; flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    
    gap:5px;
    padding: 50px 400px;

}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 24px;
    flex: 1 1 0; /* Takes 1/3 of the row minus the gap */
    
}

.gambar{
    border-radius: 20px;
}

.dua-border{
    display: flex;flex-direction: row;flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;padding-bottom: 30px;
}

.union-border{
    border-radius: 20px;border: 1px solid black; 
    padding: 5px 10px;
}

.card-author{
    
}
.card-title{

}

.inter-author {
  font-family: "Inter", serif;
  font-size: 14px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);

  padding-bottom: 5px;
}

.inter-title-book {
    font-family: "Inter", serif;
    font-size:16px;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
  }


  .details-bar-bawah{
    background-color: #000; 
    display: flex;flex-direction: row;
    gap: 20px;align-items: center;
    justify-content: space-between;
    padding: 20px 24px;gap: 50px;
  }

  body > div > fieldset > form > div {
    padding: 10px 0px;
    align-items: center;
  }


